<div class="bg-white mix-blend-soft-lightpx-8 max-w-[1240px] p-4 lg:text-left text-center h-full items-center mx-auto rounded-lg relative shadow-2xl">
  <form class="flex flex-col lg:flex-row justify-between px-4">
    <div class="flex flex-col">
      <label for="location" class="py-3 ml-5"><i class="fas fa-map-marker-alt mr-2 text-gray-500"></i>Location</label>
      <input type="text" class="border rounded-md p-3 lg:w-[300px] w-full" placeholder="Where are you going?" [(ngModel)]="city" name="city">
    </div>

    <div class="flex flex-col">
      <label for="checkInDate" class="py-3 ml-5"><i class="far fa-calendar-alt mr-2 text-gray-500"></i>Check-In Date</label>
      <input type="date" class="border rounded-md p-3 w-full" [min]="currentDate" [(ngModel)]="checkInDate" name="checkInDate">

    </div>

    <div class="flex flex-col">
      <label for="checkOutDate" class="py-3 ml-5"><i class="far fa-calendar-alt mr-2 text-gray-500"></i>Check-Out Date</label>
      <input type="date" class="border rounded-md p-3 w-full" [min]="tomorrowDate" [(ngModel)]="checkOutDate" name="checkOutDate">

    </div>

    <div class="relative flex flex-col">
      <label for="roomAndGuestCount" class="py-3 ml-5"><i class="fas fa-bed mr-2 text-gray-500"></i>Rooms & <i class="fas fa-user  text-gray-500 mr-2"></i>Guests</label>
      <div class="border rounded-md p-3 w-full cursor-pointer" (click)="toggleDropdown()">
        <span>{{ roomCount }} Room{{ roomCount > 1 ? 's' : '' }}, {{ guestCount }} Guest{{ guestCount > 1 ? 's' : '' }}</span>
      </div>
      <div *ngIf="dropdownOpen" class="mt-9 absolute bg-white border rounded-md shadow-lg w-full z-10 ">
        <div class="p-2">
          <label for="roomCount" class="block">Rooms</label>
          <div class="flex items-center">
            <button class="text-gray-500 focus:outline-none" (click)="decrementRoomCount()"><i class="fas fa-minus"></i></button>
            <span class="border rounded-md p-1 mx-2">{{ roomCount }}</span>
            <button class="text-gray-500 focus:outline-none" (click)="incrementRoomCount()"><i class="fas fa-plus"></i></button>
          </div>
        </div>
        <div class="p-2">
          <label for="guestCount" class="block">Guests</label>
          <div class="flex items-center">
            <button class="text-gray-500 focus:outline-none" (click)="decrementGuestCount()"><i class="fas fa-minus"></i></button>
            <span class="border rounded-md p-1 mx-2">{{ guestCount }}</span>
            <button class="text-gray-500 focus:outline-none" (click)="incrementGuestCount()"><i class="fas fa-plus"></i></button>
          </div>
        </div>
      </div>
    </div>

    <!-- Square search button with icon -->
    <button class="bg-[#41A4FF] text-white p-3 rounded-full ml-5 lg:ml-0 focus:outline-none transition-colors duration-300 hover:bg-white hover:text-[#41A4FF] hover:border-[#41A4FF] border-2 border-[#41A4FF]" (click)="searchHotels()">
      <i class="fas fa-search"></i>
    </button>
  </form>
</div>

