<div class="bg-cover bg-center bg-no-repeat" style="background-image: url('../../../assets/bg.jpg');">

<form [formGroup]="hotelForm" class="max-w-md mx-auto  bg-white bg-opacity-30 p-10" (ngSubmit)="OnSubmit()">
  <div class="flex flex-col items-center">
    <div class="mt-10 text-3xl text-[#41A4FF] font-semibold mb-5">Add Hotel</div>
    
    <div class="relative z-0 w-full mb-5 group mt-10">
      <input type="text" name="hotelName" id="hotelName" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-400 peer" formControlName="hotelName" placeholder=" " required />
      <label for="hotelName" class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 peer-focus:text-blue-400 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Hotel Name</label>
      <div *ngIf="f.hotelName.invalid && (f.hotelName.dirty || f.hotelName.touched)" class="text-red-500 text-sm mt-1">Hotel name is required.</div>
    </div>
    
    <div class="relative z-0 w-full mb-5 group">
      <input type="text" name="hotelAddress" id="hotelAddress" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-400 peer" formControlName="hotelAddress" placeholder=" " required />
      <label for="hotelAddress" class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 peer-focus:text-blue-400 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Hotel Address</label>
      <div *ngIf="f.hotelAddress.invalid && (f.hotelAddress.dirty || f.hotelAddress.touched)" class="text-red-500 text-sm mt-1">Hotel address is required.</div>
    </div>
    
    <div class="relative z-0 w-full mb-5 group">
      <input type="email" name="hotelEmail" id="hotelEmail" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-400 peer" formControlName="hotelEmail" placeholder=" " required />
      <label for="hotelEmail" class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 peer-focus:text-blue-400 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Hotel Email Address</label>
      <div *ngIf="f.hotelEmail.invalid && (f.hotelEmail.dirty || f.hotelEmail.touched)" class="text-red-500 text-sm mt-1">Please enter a valid email address.</div>
    </div>
    
    <div class="relative z-0 w-full mb-5 group">
      <input type="text" name="hotelCity" id="hotelCity" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-400 peer" formControlName="hotelCity" placeholder=" " required />
      <label for="hotelCity" class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 peer-focus:text-blue-400 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Hotel City</label>
      <div *ngIf="f.hotelCity.invalid && (f.hotelCity.dirty || f.hotelCity.touched)" class="text-red-500 text-sm mt-1">Hotel city is required.</div>
    </div>
    
    <div class="relative z-0 w-full mb-5 group">
      <input type="tel" name="hotelContactNo" id="hotelContactNo" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-400 peer" formControlName="hotelContactNo" placeholder=" " required />
      <label for="hotelContactNo" class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 peer-focus:text-blue-400 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Hotel Contact Number</label>
      <div *ngIf="f.hotelContactNo.invalid && (f.hotelContactNo.dirty || f.hotelContactNo.touched)" class="text-red-500 text-sm mt-1">Please enter a valid 10-digit contact number.</div>
    </div>
    
    <div class="relative z-0 w-full mb-5 group">
      <textarea formControlName="hotelDescription" id="hotelDescription" rows="4" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-400 peer" placeholder=" " required ></textarea>
      <label for="hotelDescription" class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 peer-focus:text-blue-400 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"> Description for Hotel</label>
      <div *ngIf="f.hotelDescription.invalid && (f.hotelDescription.dirty || f.hotelDescription.touched)" class="text-red-500 text-sm mt-1">Description is required.</div>
    </div>
    

    <div class="relative z-0 w-full mb-5 group">
      <label for="hotelDescription" class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300  mb-4"> Add Hotel Images</label>
      <input  class='mt-8' type="file" multiple (change)="onFileChange($event)" accept="image/*">
    </div>
    
    <button type="submit" [disabled]="hotelForm.invalid" class="mt-5 mb-32 text-white border-2 bg-[#41A4FF] hover:bg-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm w-full sm:w-80 px-5 py-2.5 text-center bg-[#41A4FF] hover:text-blue-400 border-blue-400">Submit</button>
  </div>
</form>

</div>