<div class="flex flex-col md:flex-row">
    <!-- Sidebar -->
    <div class=" bg-slate-100 p-4 md:mr-4 rounded-lg shadow-2xl mt-8">
      <form class="flex flex-col">
        <!-- Location Input -->
        <div class="input mb-4">
          <label for="location" class="text-gray-600 mb-2"><i class="fas fa-map-marker-alt mr-2"></i>Location</label>
          <input type="text" class="border rounded-md p-2 focus:outline-none focus:border-blue-500" placeholder="Where are you going?" [(ngModel)]="city" name="city">
        </div>
  
        <!-- Check-In Date Input -->
        <div class="input mb-4">
          <label for="checkInDate" class="text-gray-600 mb-2"><i class="far fa-calendar-alt mr-2"></i>Check-In Date</label>
          <input type="date" class="border rounded-md p-2 focus:outline-none focus:border-blue-500" [min]="currentDate" [(ngModel)]="checkInDate" name="checkInDate">
        </div>
  
        <!-- Check-Out Date Input -->
        <div class="input mb-4">
          <label for="checkOutDate" class="text-gray-600 mb-2"><i class="far fa-calendar-alt mr-2"></i>Check-Out Date</label>
          <input type="date" class="border rounded-md p-2 focus:outline-none focus:border-blue-500" [min]="tomorrowDate" [(ngModel)]="checkOutDate" name="checkOutDate">
        </div>
  
        <!-- Rooms & Guests Input -->
        <div class="input mb-4">
          <label for="roomAndGuestCount" class="text-gray-600 mb-2"><i class="fas fa-bed mr-2"></i>Rooms & <i class="fas fa-user mr-2"></i>Guests</label>
          <div class="border rounded-md p-2 focus:outline-none focus:border-blue-500 cursor-pointer" (click)="toggleDropdown()">
            <span>{{ roomCount }} Room{{ roomCount > 1 ? 's' : '' }}, {{ guestCount }} Guest{{ guestCount > 1 ? 's' : '' }}</span>
          </div>
          <div *ngIf="dropdownOpen" class="mt-2 bg-white border rounded-md shadow-lg w-full">
            <div class="p-2">
              <label for="roomCount" class="block">Rooms</label>
              <div class="flex items-center">
                <button class="text-gray-500 focus:outline-none" (click)="decrementRoomCount()"><i class="fas fa-minus"></i></button>
                <span class="border rounded-md p-1 mx-2">{{ roomCount }}</span>
                <button class="text-gray-500 focus:outline-none" (click)="incrementRoomCount()"><i class="fas fa-plus"></i></button>
              </div>
            </div>
            <div class="p-2">
              <label for="guestCount" class="block">Guests</label>
              <div class="flex items-center">
                <button class="text-gray-500 focus:outline-none" (click)="decrementGuestCount()"><i class="fas fa-minus"></i></button>
                <span class="border rounded-md p-1 mx-2">{{ guestCount }}</span>
                <button class="text-gray-500 focus:outline-none" (click)="incrementGuestCount()"><i class="fas fa-plus"></i></button>
              </div>
            </div>
          </div>
        </div>
  
        <!-- Search Button -->
        <button class="search-button bg-[#41A4FF] text-white p-3 rounded-full md:ml-5 lg:ml-0 focus:outline-none transition-colors duration-300 hover:bg-white hover:text-[#41A4FF] hover:border-[#41A4FF] border-2 border-[#41A4FF]" (click)="searchHotels()">
          <i class="fas fa-search"></i>
        </button>
      </form>
    </div>
  
 <!-- Search Results -->
<div class="flex flex-col items-center mt-10 md:mt-0">
  <div class="text-3xl text-blue-500 font-semibold mb-5">Search Result</div>

  <div *ngIf="hotels.length > 0" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 gap-4">
      <ng-container *ngFor="let hotel of hotels">
        <div class="hotel-card lg:h-180 lg:w-80 shadow-2xl ml-5 bg-slate-100 hover:shadow-blue-200 rounded-lg p-8">
          <h2 class="text-xl font-bold mb-2">{{hotel.hotelName}}</h2>
          <p class="text-gray-700 mb-4">{{hotel.hotelCity}}</p>
        
          <div class="relative aspect-w-16 aspect-h-9 mb-4">
            <img *ngIf="hotel.hotelImages && hotel.hotelImages.length > 0" class="object-cover rounded-lg" [src]="'data:image/png;base64,' + hotel.hotelImages[0].imageData" alt="Hotel Image">
          </div>

          
          <div class="flex justify-between items-center mb-4">
            <p class="text-gray-700 font-semibold">
              Price per night
              <ng-container  *ngIf="hotel.offers">
                <div>
                  <span class="line-through text-red-500">LKR {{ hotel.pricePerNight }}</span>
                </div>
                <div class="text-green-500 font-bold text-lg">
                  With offer LKR {{ calculateOfferPrice(hotel.pricePerNight, hotel.offers[0].discountPercentage) }}
                </div>
              </ng-container>
              <ng-container *ngIf="hotel.offers.length === 0 || !hotel.offers">
             
                LKR {{ hotel.pricePerNight }} Per Night
              </ng-container>
            </p>
          </div>
         
           
          <!-- Offers Section -->
          <div class="mb-4">
            <h3 class="text-lg font-semibold mb-2">Offers</h3>
            <div *ngIf="hotel.offers && hotel.offers.length > 0" class="grid grid-cols-1 gap-2">
              <ng-container *ngFor="let offer of hotel.offers">
                <div class="offer-item bg-gray-100 p-2 rounded-md shadow-md">
                  <h4 class="text-sm font-semibold">{{offer.offerName}}</h4>
                  <p class="text-xs text-gray-500">Discount: {{offer.discountPercentage}}%</p>
                </div>
              </ng-container>
            </div>
            <div *ngIf="!hotel.offers || hotel.offers.length === 0" class="text-sm text-gray-500">No offers available</div>
          </div>
        
          <div class="flex justify-end">
            <button (click)="navigateToHotelOverview(hotel.hotelId)" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-full transition duration-300 ease-in-out">
              See more
            </button>
          </div>
        </div>
        
      </ng-container>
    </div>
     <!-- Pagination -->
  <div *ngIf="hotels.length !== 0" class="flex items-center justify-center mt-5 mb-24">
    <button (click)="previousPage()" [disabled]="currentPage === 0" class="px-4 py-2 bg-blue-500 text-white rounded-md mr-2" [class.opacity-50]="currentPage === 0">Previous</button>
    <span class="text-gray-600">Page No {{ currentPage + 1 }} </span>
    <button (click)="nextPage()" [disabled]="currentPage + 1 === totalPages" class="px-4 py-2 bg-blue-500 text-white rounded-md ml-2" [class.opacity-50]="currentPage + 1 === totalPages">Next</button>
  </div>
    <div *ngIf="loading" class="fixed top-0 left-0 w-full h-full flex justify-center items-center bg-gray-900 bg-opacity-50 z-50">
      <div class="bg-white rounded-lg p-8">
        <div class="flex items-center justify-center mb-4">
          <!-- Replace the SVG loader with a plane icon -->
          <i class="fas fa-plane-departure text-blue-500 animate-bounce text-4xl"></i>
          <p class="text-lg font-semibold text-[#41A4FF] ml-2">Loading...</p>
        </div>
      </div>
    </div>

    <div *ngIf="hotels.length === 0" class="flex items-center justify-center mt-5 mb-24">
      <button (click)="previousPage()" [disabled]="currentPage === 0" class="px-4 py-2 bg-blue-500 text-white rounded-md mr-2" [class.opacity-50]="currentPage === 0">Previous</button>
      <span class="text-gray-600">Page No {{ currentPage + 1 }} </span>
    
    </div>
      <div *ngIf="loading" class="fixed top-0 left-0 w-full h-full flex justify-center items-center bg-gray-900 bg-opacity-50 z-50">
        <div class="bg-white rounded-lg p-8">
          <div class="flex items-center justify-center mb-4">
            <!-- Replace the SVG loader with a plane icon -->
            <i class="fas fa-plane-departure text-blue-500 animate-bounce text-4xl"></i>
            <p class="text-lg font-semibold text-[#41A4FF] ml-2">Loading...</p>
          </div>
        </div>
      </div>


  <div *ngIf="hotels.length === 0" class="text-center mt-8">
    <p>No hotels found.</p>
  </div>
  
</div>




  