<form [formGroup]="contractForm" (ngSubmit)="onSubmit()"class="max-w-md mx-auto">
    <!-- Hotel Contract Details -->
    <div class="mt-10 text-3xl text-[#41A4FF] font-semibold mb-5">Add Hotel Contract</div>
    <div class="relative z-0 w-full mb-5 group mt-10">
      <input type="date" formControlName="startDate" id="startDate" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-400 peer" placeholder=" " required />
      <label for="startDate" class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 peer-focus:text-blue-400 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Start Date</label>
    </div>
  
    <div class="relative z-0 w-full mb-5 group">
      <input type="date" formControlName="endDate" id="endDate" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-400 peer" placeholder=" " required />
      <label for="endDate" class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 peer-focus:text-blue-400 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">End Date</label>
    </div>
  
    <div class="relative z-0 w-full mb-5 group">
      <input type="number" formControlName="cancellationFeePercentage" id="cancellationFeePercentage" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-400 peer" placeholder=" " required />
      <label for="cancellationFeePercentage" class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 peer-focus:text-blue-400 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Cancellation Fee Percentage</label>
    </div>
  
    <div class="relative z-0 w-full mb-5 group">
      <input type="number" formControlName="cancellationDeadline" id="cancellationDeadline" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-400 peer" placeholder=" " required />
      <label for="cancellationDeadline" class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 peer-focus:text-blue-400 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Cancellation Deadline Days</label>
    </div>
  
    <div class="relative z-0 w-full mb-5 group">
      <input type="number" formControlName="prepaymentPercentage" id="prepaymentPercentage" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-400 peer" placeholder=" " required />
      <label for="prepaymentPercentage" class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 peer-focus:text-blue-400 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Prepayment Percentage</label>
    </div>
  
    <div class="relative z-0 w-full mb-5 group">
      <input type="number" formControlName="paymentDeadline" id="paymentDeadline" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-400 peer" placeholder=" " required />
      <label for="paymentDeadline" class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 peer-focus:text-blue-400 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Prepayment Deadline Days</label>
    </div>
  
    <!-- Season Details -->
    <div class="mt-10 text-2xl text-gray-600 font-semibold mb-5">Add Season Details</div>
    <div formArrayName="seasons">
      <div *ngFor="let season of seasons.controls; let i = index">
        <div [formGroupName]="i" class="relative z-0 w-full mb-5 group">
          <input type="text" formControlName="seasonType" id="seasonType{{i}}" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-400 peer" placeholder=" " required />
          <label for="seasonType{{i}}" class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 peer-focus:text-blue-400 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Season Type</label>
        </div>
        <div class="relative z-0 w-full mb-5 group">
          <input type="date" formControlName="startDate" id="seasonStartDate{{i}}" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-400 peer" placeholder=" " required />
          <label for="seasonStartDate{{i}}" class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 peer-focus:text-blue-400 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Season Start Date</label>
        </div>
        <div class="relative z-0 w-full mb-5 group">
          <input type="date" formControlName="endDate" id="seasonEndDate{{i}}" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-400 peer" placeholder=" " required />
          <label for="seasonEndDate{{i}}" class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 peer-focus:text-blue-400 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Season End Date</label>
        </div>
        <button class="mt-2 text-white border-2 bg-red-500 hover:bg-white focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-full text-sm w-full sm:w-40 px-2 py-1.5 text-center bg-red-500 hover:text-red-500 border-red-400" type="button"  type="button" (click)="removeSeason(i)">Remove Season</button>
      </div>
      <button class="mt-2 text-white border-2 bg-gray-500 hover:bg-white focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-full text-sm w-full sm:w-40 px-2 py-1.5 text-center bg-gray-500 hover:text-gray-500 border-gray-400" type="button" (click)="addSeason()">Add Season</button>
    </div>
  
    <!-- Offer Details -->
    <div class="mt-10 text-2xl text-gray-600 font-semibold mb-5">Add Offer Details</div>
    <div formArrayName="offers">
      <div *ngFor="let offer of offers.controls; let i = index">
        <div [formGroupName]="i" class="relative z-0 w-full mb-5 group">
          <input type="text" formControlName="offerName" id="offerName{{i}}" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-400 peer" placeholder=" " required />
          <label for="offerName{{i}}" class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 peer-focus:text-blue-400 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Offer Name</label>
        </div>
        <div class="relative z-0 w-full mb-5 group">
          <input type="text" formControlName="offerType" id="offerType{{i}}" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-400 peer" placeholder=" " required />
          <label for="offerType{{i}}" class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 peer-focus:text-blue-400 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Offer Type</label>
        </div>
        <div class="relative z-0 w-full mb-5 group">
          <input type="text" formControlName="conditions" id="offerConditions{{i}}" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-400 peer" placeholder=" " required />
          <label for="offerConditions{{i}}" class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 peer-focus:text-blue-400 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Offer Conditions</label>
        </div>
        <button class="mt-2 text-white border-2 bg-red-500 hover:bg-white focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-full text-sm w-full sm:w-40 px-2 py-1.5 text-center bg-red-500 hover:text-red-500 border-red-400" type="button" (click)="removeOffer(i)">Remove Offer</button>

      </div>
      <button  class="mt-2 text-white border-2 bg-gray-500 hover:bg-white focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-full text-sm w-full sm:w-40 px-2 py-1.5 text-center bg-gray-500 hover:text-gray-500 border-gray-400" type="button" (click)="addOffer()">Add Offer</button>
    </div>
  
    <!-- Submit Button -->
    <button type="submit" class="mt-5 mb-5 text-white border-2 bg-[#41A4FF] hover:bg-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm w-full sm:w-80 px-5 py-2.5 text-center bg-[#41A4FF] hover:text-blue-400 border-blue-400">Submit</button>
  </form>
  