<div class="about-us-page p-4 md:p-8 max-w-screen-md mx-auto">
    <div class="about-header text-center mb-8">
        <h1 class="text-4xl font-bold text-blue-400 mb-6">About TravelPlus</h1>
        <p class="text-gray-700">Welcome to TravelPlus, your ultimate destination for hassle-free hotel bookings.</p>
    </div>
    <div class="about-content">
        <h2 class="text-2xl font-semibold text-blue-400 mb-4 mt-8">Our Mission</h2>
        <p class="text-gray-800">At TravelPlus, we are dedicated to providing a seamless hotel booking experience for our guests.</p>
        <h2 class="text-2xl font-semibold text-blue-400 mb-4 mt-8">What We Offer</h2>
        <p class="text-gray-800">TravelPlus offers a vast selection of hotels worldwide, ensuring that you find the perfect accommodation for your travel needs.</p>
        <p class="text-gray-800">With our user-friendly interface, guests can easily search for hotels based on their preferences, including location and room count, saving you valuable time.</p>
        <p class="text-gray-800">We prioritize cleanliness and comfort, ensuring that every stay booked through TravelPlus exceeds expectations.</p>
        <h2 class="text-2xl font-semibold text-blue-400 mb-4 mt-8">Why Choose TravelPlus?</h2>
        <p class="text-gray-800">1. Easy and Clean Searching: Our advanced search feature allows guests to quickly find available rooms based on their preferences.</p>
        <p class="text-gray-800">2. Extensive Hotel Network: TravelPlus partners with hotels worldwide, offering a wide range of options to suit every traveler's needs.</p>
        <p class="text-gray-800">3. Time-Saving: With our efficient booking process, guests can save time and focus on enjoying their travel experiences.</p>
        <p class="text-gray-800">4. Dedicated Support: Our customer support team is available 24/7 to assist guests with any inquiries or issues.</p>
    </div>
</div>
